.home{
  background-color: rgb(230, 230, 230);
  height: 100vh;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: black;
  color: gold;

  h1 {
    font-size: 36px;
    margin: 0 40px 0 0;
  }
}

ul{
  list-style: none;
  margin: 5px 0 0 0;

  li {
    display: inline;

    a {
      text-decoration: none;
      background: none;
      padding: 7px;
      color: gold;
      font-size: 24px;
      margin-right: 15px;
      border-radius: 10px;
      transition: .4s;

      &:hover{
        background-color: gold;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }
    }
  }
}

